<section class="phx-hero">
    <h1><%= gettext "Welcome to %{name}!", name: "Alchemist API" %></h1>
    <div class="bar">
        <span><%= @time %></span>
    </div>
</section>

<p>Amount of buy orders (AUXLND): <%= @total_buy_orders_AUXLND %></p>
<p>Amount of buy orders (AGUS): <%= @total_buy_orders_AGUS %></p>
