<style>
  div, h2 {text-align: center;}
</style>

<h2 class="ui icon header">
  <i class="book icon"></i>
  <div class="content">
    Welcome to the Order Book API!
    <div class="sub header">Powered by Alchemist</div>
  </div>
</h2>

<h2> Choose your ticker: </h2>
<div class="tickers">
  <p> <%= button("AUXLND", to: "/home/ticker/AUXLND", method: :get, class: "ui button" ) %> </p>
  <p> <%= button("AGUS", to: "/home/ticker/AGUS", method: :get, class: "ui button" ) %> </p>
</div>
